.medium-header{
    height: 70px;
    background-color:rgba(33, 42, 52, 1) ;
    position: fixed;
    z-index: 1000;
}
.header {
    width: 100%;
    height: 135px;
    background-color: #212a34;
    
}

.header-top {
    height: 80px;
    padding-top: 20px;
}

.header-bootm {
    width: 100%;
    height: 55px;
}

.header-top-left,
.header-top-right {
   height:50px;
}

.header-top-left {
    background-image: url(../img/tutspluslogo.svg);
    background-repeat: no-repeat;
    background-size: 185px 23px;
}

.header-bottom-left,
.header-bottom-right {
    height: 55px;
    /*    border:1px solid orange;*/
}

ul.header-navigation {
    width: 100%;
    height: 60px;
}

ul.header-navigation>li {
    float: left;
    color: #9f9f9f;
    padding: 7px 12px;
    ;
}

ul.header-navigation>li:hover {
    color: white;
    cursor: pointer;
}

ul.header-navigation>li:nth-child(6):hover {
    opacity: 0.95;
}

ul.header-navigation>li:nth-child(7):hover {
    color: gray;
}

ul.header-navigation>li:nth-child(6) {
    background-color: #82b541;
    color: white;
    border-radius: 5px;
    margin-left: 2.2%;
}

ul.header-navigation>li:nth-child(7) {
    margin-left: 3.2%;
    border: 1px solid #82b541;
    border-radius: 7px;
    color: white;
}

ul.menu {
    height: 100%;
    width: 100%;
    padding-top: 9px;
}

ul.menu>li {
    float: left;
    padding: 13px 8px;
    padding-right: 27px;
    color: white;
    position: relative;
}

ul.menu>li:hover {
    cursor: pointer;
    color: lightgray;
}

ul.menu>li:nth-child(1)::after,
ul.menu>li:nth-child(2)::after,
ul.menu>li:nth-child(3)::after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 86%;
    border: 5px solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: none;
}

ul.menu>li:nth-child(2)::after,
ul.menu>li:nth-child(3)::after {
    left: 76%;
}

.search-box {
    border: 1px solid rgba(255, 255, 255, .5);
    height: 35px;
    border-radius: 7px;
}

.search-icon,
.search-text {
    height: 100%;
}

.search-text>input {
    height: 100%;
    width: 100%;
    background-color: #212a34;
    color: lightgray;
    font-size: 17px;
    border: none;
    text-align: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.search-box:hover,
.search-text:hover>input {
    background-color: #3c444c;
    color: white;
}

.decoration1 {
    position: relative;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .2) 80%, rgba(0, 0, 0, .7));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .2) 80%, rgba(0, 0, 0, .7));
    background: -o-linear-gradient(top, rgba(0, 0, 0, .2) 80%, rgba(0, 0, 0, .7));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .2) 80%, rgba(0, 0, 0, .7));
}

.slide-h2,
.slide-p {
    padding-left: 40px;
    position: relative;
    top: 70%;
    color: white;
}

.slide-h2 {
    padding-bottom: 20px;
}

.slide-p {
    font-size: 17px;
}

.slide-pic:nth-child(1) .decoration1 .slide-h2,
.slide-pic:nth-child(1) .decoration1 .slide-p {
    top: 80%;
}

.slide-pic:nth-child(1) .decoration1 .slide-h2 {
    color: aqua;
}

.slide-pic:nth-child(2) #top-pic .slide-h2 {
    color: #c94e4b;
}

.slide-pic:nth-child(2) #bottom-pic .slide-h2,
.slide-pic:nth-child(2) #bottom-pic .slide-p {
    top: 40%;
}

.slide-pic:nth-child(2) #bottom-pic .slide-h2 {
    color: cadetblue;
}

.slide-pic:nth-child(3) #up-pic .slide-h2,
.slide-pic:nth-child(3) #up-pic .slide-p {
    top: 22%;
}

.slide-pic:nth-child(3) #up-pic .slide-h2 {
    color: #f38856;
}


}
.slider {
    float: left;
}
.slide-pic {
    height: 600px;
}

#single-pic {
    background-image: url(../img/twoblackbabe.jpg);
    background-size: cover;
}
#single-pic:hover .decoration1,
#top-pic:hover .decoration1,
#bottom-pic:hover .decoration1,
#up-pic:hover .decoration1 {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 80%, rgba(0, 0, 0, .6));
    cursor: pointer;
}
#top-pic {
    height: 400px;
    background-image: url(../img/floral.jpg);
    background-size: cover;
}
#bottom-pic {
    height: 200px;
    background-image: url(../img/easelearning.jpg);
    background-size: cover;
}
#up-pic {
    background-image: url(../img/design.jpg);
    background-size: cover;
}
#middle-pic {
    padding-top: 20px;
    padding-left: 35px;
    cursor: pointer;
}
#middle-pic>h2 {
    color: #8a6ead;
}
#middle-pic>p {
    font-size: 18px;
    padding-top: 15px;
}
#middle-pic:hover > p {
    text-decoration: underline;
}
#up-pic,
#middle-pic {
    height: 150px;
}
#down-pic {
    height: 300px;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 50px;
    background-color: #49b293;
    cursor: pointer;
}
#down-pic>h2 {
    color: white;
}
#down-pic>p {
    color: white;
    font-size: 17px;
    padding: 20px 0;
}
#down-pic .down-picbtn {
    width: 75%;
    padding: 13px;
    text-align: center;
    color: #49b293;
    background-color: white;
    border-radius: 7px;
    font-size: 17px;
}

/*Radio Btn Desgin Section/////////////////////////////////*/
#radiobtn1,
#radiobtn2,
#radiobtn3 {
    display: none;
}
.popular-sec {
    display: block;
    float: left;
    padding: 20px 25px;
    font-size: 20px;
    cursor: pointer;
}
.popular-sec::selection {
    background-color: transparent;
    color: black;
}
#radiobtn1:checked~#radio-label1 {
    border-bottom: 3px solid green;
}
#radiobtn2:checked~#radio-label2 {
    border-bottom: 2px solid green;
}
#radiobtn3:checked~#radio-label3 {
    border-bottom: 2px solid green;
}
.course-nav {
    height: 105px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-top: 40px;
}

/*course Introduction Section///////////////////////////////////////*/
.course-item {
    /*    border: 1px solid #000;*/
    
    float: left;
    padding: 20px;
    cursor: pointer;
}
.course-h4 {
    padding: 30px 10px;
    padding-top: 10px;
}
.course-p {
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 10px;
    font-size: 14px;
    height: 125px;
    line-height: 1.5;
    color: dimgray;
}
.course-item:nth-child(6) .course-info .courseinfo-text>h4,
.course-item:nth-child(8) .course-info .courseinfo-text>h4 {
    padding-bottom: 14px
}
.course-info {
    border: 1px solid rgba(0, 0, 0, .2);
    height: 448px;
    border-radius: 5px;
}
.courseinfo-pic {
    width: 100%;
    height: 207px;
}
.courseinfo-pic>img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.courseinfo-text {
    width: 100%;
    height: 188px;
}
.courseinfo-caption {
    width: 100%;
    height: 50px;
    /*    border: 1px solid #000;*/
}
.self-text {
    height: 200px;
}
.self-text>p {
    text-align: center;
    font-weight: bold;
    color:#81b441;
    font-size: 16px;
    padding: 15px 0;
    padding-bottom: 30px;
}
.selftxt-h2>h2{
    text-align: center;
    color: #2a3744;
    line-height: 1.9;
}
.self-item,
.market-item {
    float: left;
    padding: 20px;
}
.self-box {
    height: 300px;
}
.selfbox-pic,
.selfbox-caption {
    width: 100%;
}
.selfbox-pic {
    height: 180px;
}
.selfbox-pic>img{
    width: 100%;
    height:100%;
}
.selfbox-caption {
    height: 120px;
}
.selfcap-h3{
    text-align: center;
    color: #83b348;
    padding: 5px 0;
}
.selfbox-caption .selfcap-p{
    color: #2a3744;
    text-align: center;
    font-size: 15px;
    line-height: 1.7;
    font-weight: bold;
}
.trial-btn {
    height: 42px;
    background-color: #83b348;
    color: white;
    text-align: center;
    line-height: 42px;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .5);
    box-shadow: ;
}
.trial-btn:hover {
    opacity: .95;
    cursor: pointer;
}
.trial-btn-parent {
    float: left;
    padding: 30px 0;
    padding-bottom: 45px;
}
.market-wrapper {
    background-color: #f2f5f6;
}
.market {
    float: left;
    height: 170px;
    background-color: #f2f5f6;
    position: relative;
}
.market>p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #9b9b9b;
    padding: 20px 0;
}
.market>h2{
    text-align: center;
    color: #2a3744;
    width: 60%;
    padding: 10px 0;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    line-height: 1.6;
}
.market-item {
    padding: 10px;
}
.market-box {
    height: 250px;
    border:1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.marketbox-pic {
    height: 170px;
}
.marketbox-pic>img{
    width:100%;
    height: 100%;
}
.marketbox-caption {
    height: 80px;
}
.marketbox-caption>h4{
    padding: 5px;
}
.marketbox-caption>p{
    padding: 5px;
    font-size: 14px;
}

.checkout-btn {
    height: 42px;
    background-color: #f2f5f6;
    color: #83b348;
    border: 2px solid #83b348;
    text-align: center;
    line-height: 42px;
    font-size: 18px;
    border-radius: 2px;
}
.checkout-btn:hover {
    cursor: pointer;
    background-color: #83b348;
    color: white;
    border: 1px solid #f2f5f6;
}
.footer-wrap {
    background-color: #212a34;
    float: left;
}
.top-footer {
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-left:2%;
}
.top-footer-element {
    height: 60px;
}
.envatobox{
    width:144px;
    height: 18px;
    padding: 5px;
    margin-top: 20px;
    background-image: url(../img/tutspluslogo.svg);
    background-size: 144px 18px;
    background-repeat: no-repeat;
    float: left;
}
.envatotext{
    float: left;
    width:55%;
    padding-left: 5px;
    padding-top: 23px;
    font-size: 12px;
    line-height: 1.4;
    font-weight: bold;
    color: #8e8e8e;
    text-align: center;
}
ul.numbercount{
    width: 100%;
    height: 100%;
}
ul.numbercount>li{
    float: left;
    padding: 5px;
    padding-top: 20px;
    padding-right: 15px;
    font-size: 15px;
}
ul.numbercount>li:nth-child(1){
    padding-right: 10px;
}
ul.numbercount>li:nth-child(2n+1){
    padding-right: 5px;
    color: white;
    font-weight: bold;
}
ul.numbercount>li:nth-child(2n){
    color: #8e8e8e;
}
.footer-list {
   float: left;
}
.middle-footer1-ul{
    width: 100%;
    height: 100%;
}
.middle-footer1-ul>li{
    padding: 5px;
    color: #d5d5d5;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
}
.middle-footer1-ul>li:hover{
    cursor: pointer;
    color: #83b348;
    
}
.middle-footer1-ul>li:first-child{
    padding-bottom: 20px;
    color: #8e8e8e;
    padding-top: 20px;
    cursor: text;
}
.input-email{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    color: #6c6c6c;
    padding-left: 5px;
    border: 1px solid white;
}
.subscribe{
    width:100%;
    height: 35px;
    color: white;
    background-color: #83b348;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
}
.middle-footer2 {
    float: left;
    margin-bottom: 45px;
}
.footer-ads {
    background-color: #19212a;
    height: 145px;
    padding: 10px;
    box-shadow: 0 0 1px 2px #19212a;
}
.square-ads {
    height: 125px;
}
.square-ads>img{
    width: 100%;
    height: 100%;
}
.text-ads {
    height: 125px;
    padding-left: 15px;
}
.text-ads>p{
    color: #8e8e8e;
    font-size: 15px;
    padding-bottom: 40px;
    line-height: 1.5;
}
.text-ads>h5{
    color: white;
}
.text-ads>h5:hover{
    color:#8e8e8e;
    cursor: pointer;
}
.footer-footer{
    background-color: #19212a;
    height: auto;
    float: right;
}
.left-footer {
    height: 60px;
}
.left-footer>p{
    color:#8e8e8e;
    font-size: 13px;
    line-height: 60px;
    margin-left: 3%;
}
.right-footer {
   height: 60px;
    padding-top: 15px;
    padding-left: 15px;
}

.footer-social-ul {
    height: 100%;
    width: 100%;
}
.footer-social-ul>li:first-child{
    font-size: 13px;
    color:#8e8e8e;
    padding:10px 0;
    padding-right:20px;
    float: left;
}

.social-net {
    float:left;
    width:36px;
    height: 36px;
    margin-left: 1%;
    cursor: pointer;
    
}
.social-net:hover{
    opacity: .8;
}
.social-net>img{
    height: 100%;
    width:100%;
}
.middle-footer1 {
    padding-left: 2%;
    padding-right: 2%;
}

.kesho {
    display: block;
    width: 100%;
    height:40px;
    text-align: center;
    line-height: 45px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 1px 1px #0b0e12;
    margin-top: 10px;
}
.kesho::after{
    transition: .3s;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-color: #212a34;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    top:40%;
    right: 2%;
    transform: rotate(45deg);    
}
#btn-kesho1:checked+.kesho::after,
#btn-kesho2:checked+.kesho::after,
#btn-kesho3:checked+.kesho::after{
    transform: rotate(-135deg);
}
.kesho::selection{
    color: #83b348;
    background-color: transparent;
}
#btn-kesho1,
#btn-kesho2,
#btn-kesho3{
    display: none;
}

.kesho-window {
    width: 100%;
    height: 0;
    text-align: center;
    background-color: #1a2129;
    display: none;
}

.kesho-window-ul {
    width: 100%;
    float: left;
    display: none;
    position: absolute;
}
.kesho-window-ul>li{
    width: 100%;
    text-align: center;
    color:#c9c9c9;
    font-size: 15px;
    padding: 10px;
}
.kesho-window-ul>li:hover{
    cursor: pointer;
    color: #83b348;
}
#btn-kesho1:checked+.kesho+.kesho-window,
#btn-kesho2:checked+.kesho+.kesho-window,
#btn-kesho3:checked+.kesho+.kesho-window{
   display: block;
   height: 180px;
}

#btn-kesho1:checked+.kesho+.kesho-window>ul.kesho-window-ul,
#btn-kesho2:checked+.kesho+.kesho-window>ul.kesho-window-ul,
#btn-kesho3:checked+.kesho+.kesho-window>ul.kesho-window-ul{
    display: block;
}

/*Designing the second header wchich is visible to medium,small and mini dimenssion*/


.sign-in{
    border: 1px solid #82b541;
    border-radius: 7px;
    color: white;
}


.header2-logo {
    height: 75px;
    padding-top: 25px;
    padding-left: 15px;
}
.header2-logo>img{
    width:210px;
    height: auto;
}

.header2-snav {
    height: 75px;
}

.hamberger-wrap {
    height: 75px;
    
    padding-top: 20px;
    padding-left: 10px;
    position: relative;
}
ul.snav-ul{
    height: 100%;
    width: 100%;
}
ul.snav-ul>li{
    float: left;
    margin-top: 25px;
    padding:8px 22px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
ul.snav-ul>li:first-child{
     background-color: #82b541;
    margin-right: 3%;
}
ul.snav-ul>li:last-child{
    border: 1px solid #82b541;
}
ul.snav-ul>li:first-child:hover{
    opacity: .9;
}
ul.snav-ul>li:last-child:hover{
    color: lightgray;
}



#ham-btn{
    display: none;
}
.ham-label {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 2%;
    cursor: pointer;
    z-index: 101;
}

.ham-line {
    transition: .3s;
    height:3px;
    position: absolute;
    width:50%;
    left:50%;
    transform: translateX(-50%);
    background-color: white;;
}
.ham-label .ham-line:nth-child(1){
    top:14px;
}
.ham-label .ham-line:nth-child(2){
    top:22px;
}
.ham-label .ham-line:nth-child(3){
    top:30px;
}
#ham-btn:checked~.ham-label>.ham-line:nth-child(1){
    top:23px;
    left: 10%;
    transform: rotate(90deg);
    background-color: white;
}
#ham-btn:checked~.ham-label{
    border: 1px solid white;
}
#ham-btn:checked~.ham-label>.ham-line:nth-child(2){
    top:23px;
    left:25%;
    transform: rotate(90deg);
    background-color:  white;
}
#ham-btn:checked~.ham-label>.ham-line:nth-child(3){
    top:23px;
    left: 40%;
    transform: rotate(90deg);
    background-color:  white;
}
.ham-menu-wrap {
    position: absolute;
    width: 1200%;
    height:1059%;
    left: -1100%;
    top:0;
    background-color: rgba(0,0,0,.9);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
}
#ham-btn:checked~.ham-menu-wrap{
    visibility: visible;
    opacity: 1;
}
#ham-btn:checked~.ham-label{
    left:-255px;
}

.ham-menu {
    width: 24%;
    margin-left: 76%;
    height: auto;
    background-color: #212a34;
    position: absolute;
}

.ham-menu-sec {
    height: auto;
    width: 100%;
    border-bottom:0.3vh solid #363636;
}

ul.ham-sec-ul{
    height: 100%;
    width: 100%;
    padding-top: 10px;
}
ul.ham-sec-ul>li{
    padding:15px 20px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
ul.ham-sec-ul>li:hover{
    color: #84d420;
}
ul.ham-sec-ul>li:first-child{
    padding:20px;
}
ul.ham-sec-ul>li>input{
    height: 35px;;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    background-color: #212a34;
    color: #8e8e8e;
    padding-left: 5px;
    font-size: 15px;
}
ul.ham-sec-ul>li>input:hover{
  background-color: #3c444c;
    color: white;
}
#ham-button1,
#ham-button2,
#ham-button3{
    display: none;
}

.label-title {
    display: block;
    width: 100%;
    padding: 20px 25px;
    font-size: 14px;
    color: white;
    position: relative;
}
.label-title::selection{
    color: white;
    background-color: transparent;
}

.label-title::before{
    transition: .1s;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #212a34;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    position: absolute;
    right: 5%;
    top: 38%;
    transform: rotate(45deg);
}
.label-title:hover{
    color: #84d420;
}
#ham-button1:checked+.label-title::before,
#ham-button2:checked+.label-title::before,
#ham-button3:checked+.label-title::before{
   transform: rotate(-135deg);
    top: 45%;
}
.ham-kesho {
     width: 100%;
    height: 0;
    text-align: center;
    background-color: #1a2129;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
/*    #212a34*/
    display: none;
}


#ham-button1:checked+.label-title+.ham-kesho,
#ham-button2:checked+.label-title+.ham-kesho,
#ham-button3:checked+.label-title+.ham-kesho{
    height:auto;
    display: block;
}
ul.ham-kesho-ul>li{
     width: 100%;
    text-align: left;
    color:#c9c9c9;
    font-size: 12px;
    padding: 10px;
}
ul.ham-kesho-ul>li:hover{
    color: #84d420;
    cursor: pointer;
}
ul.ham-kesho-ul>li::selection{
    color: #84d420;
    background-color: transparent;
}

.submenu {
    transition: .3s;
    width:180px;
    height:auto;
    position: absolute;
    background-color: white;
    z-index: 99;
    margin-top: 11px;
    border-radius: 5px;
    -webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.2);
    opacity: 0;
    visibility: hidden;
}
.submenu::before,
.two-col-wrap::before{
    content: "";
    display: block;
    width:0px;
    height:0px;
    border: 10px solid white;
    background-color: transparent;
    position: absolute;
    bottom: 100%;
    left: 28.5%;
    border-top: none;
    border-right-color: transparent;
    border-left-color: transparent;
}
.two-col-wrap::before{
    left:21.5%;
}
.submenu-ul {
    width: 100%;
    height: auto;
}
.submenu-ul>li{
    padding: 13px 15px;
    color: black;
    font-size: 13px;
}
.submenu-ul>li:hover,
.first-col:hover{
    text-decoration: underline;
}
.submenu-ul>li:nth-child(1):hover{
    color: #ff4949;
/*    #ff4949*/
}
.submenu-ul>li:nth-child(2):hover{
    color:#49b293;
/*    49b293*/
}
.submenu-ul>li:nth-child(3):hover{
    color:#49b293;
}
.submenu-ul>li:nth-child(4):hover{
    color: #8360a8;
}
.submenu-ul>li:nth-child(5):hover{
    color: #f38844;
}
.submenu-ul>li:nth-child(6):hover{
    color: #3aacf2;
}
.submenu-ul>li:nth-child(7):hover{
    color: #ff4949;
}
.submenu-ul>li:nth-child(8):hover
{
    color: #2cc70f;
}

.submenu-ul>li:nth-child(9):hover{
    color: lightskyblue;
}
.one-column-menu:hover .submenu{
    opacity: 1;
    visibility: visible;
}
.submenu:hover{
    visibility: visible;
    opacity: 1;
}
.one-column-menu{
    padding-bottom: 20px;
}
.two-col-wrap {
    float: left;
    position: absolute;
    width:470px;
    height:350px;
    background-color: #fff;
    z-index: 99;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.2);
}

.first-col {
   width: 35%;
   color: black;
    padding: 11px 15px;
}

.second-col{
    width: 65%;
    position: absolute;
    left: 35%;
    top: 0;
    height: 100%;
    visibility: hidden;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.second-col:hover{
    transition-delay: 100s;
}


#first:hover{
    color:#ff4949;
}
#first:hover+.second-col{
    background-color: #ff4949;
    visibility: visible;
}

#second:hover{
    color:#0091c0;
}
#second:hover+.second-col{
     background-color:#0091c0;
    visibility: visible;
}
#third:hover{
    color:#49b293;
}
#third:hover+.second-col{
      background-color:#49b293;
    visibility: visible;
}
#forth:hover{
    color:#8360a8;
}
#forth:hover+.second-col{
      background-color:#8360a8;
    visibility: visible;
}
#fifth:hover{
    color:#f38844;
}
#fifth:hover+.second-col{
     background-color:#f38844;
    visibility: visible;
}
#sixth:hover{
    color:#3aacf2;
}
#sixth:hover+.second-col{
    background-color: #3aacf2;
    visibility: visible;
}
#seventh:hover{
    color:#ff4949;
}
#seventh:hover+.second-col{
    background-color:#ff4949;
    visibility: visible;
}
#eight:hover{
    color: #2cc70f;
}
#eight:hover+.second-col{
    background-color: #2cc70f;
    visibility: visible;
}
#nineth:hover{
    color:#5fbaf2;
}
#nineth:hover+.second-col{
    background-color: #5fbaf2;
    visibility: visible;
}

ul.second-col-left,
ul.second-col-right{
    padding: 0px;
    width:50%;
    float: left;
    height: 100%;
}
ul.second-col-left>li,
ul.second-col-right>li{
    color: white;
    font-size: 13px;
    padding: 13px;
}
ul.second-col-left>li:hover,
ul.second-col-right>li:hover{
    text-decoration: underline;
}
ul.second-col-left>li:nth-child(6),
ul.second-col-left>li:nth-child(7){
    font-size: 11px;
    color: #cbcbcb;
}
.two-col-wrap{
    visibility: hidden;
    opacity: 0;
}
.two-column-menu:hover .two-col-wrap{
    opacity: 1;
    visibility: visible;
}