.btn{
    padding: 15px 40px;
    display: inline-block;
    background-color: orangered;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.bubble{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.3);
    animation: grow .3s 1 ease-in;
    animation-fill-mode: forwards;
    
}
@keyframes grow{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(45);
        opacity: 0;
    }
}