body,
html{
    height: 100%;;
}
body{
    background-color: #2c3e50;
    background-image: linear-gradient(to bottom , white 48%, rgb(156, 211, 219) 49%);
}
.parent{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.ball,
.ball-reverse{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: orangered;
    border-radius: 50%;
    position: relative;
    
    transform: translateY(0px);
}
.ball{
    animation: move 1s infinite ease-in-out;
    animation-direction: alternate;
}
.ball:first-child{
    background-color: rgb(224, 67, 10)
}
.ball::after,
.ball::before,
.ball-reverse::before,
.ball-reverse::after{
    content: ""; 
    width: 1px;
    height: 30%;
    background-color: rgb(202, 202, 202);
    position: absolute;
    z-index: -1;
}
.ball::before,
.ball::after{
    top: 100%;
}
.ball-reverse::after,
.ball-reverse::before{
    bottom: 100%;
}
.ball::after,
.ball-reverse::after{
    left: 30%;
}
.ball::before,
.ball-reverse::before{
    height: 25%;
    left: 60%;
}
.ball-reverse{
    opacity: 0.1;
    background-color: orangered;
    animation: move-reverse 1s infinite ease-in-out;
    animation-direction: alternate;
    
}
.ball-8{
    background-color: rgb(224, 67, 10);
}

.ball-1,
.ball-8{
    animation-delay: .2s;
}
.ball-2,
.ball-9{
    animation-delay: .3s;
}
.ball-3,
.ball-10{
    animation-delay: .4s;
}
.ball-4,
.ball-11{
    animation-delay: .5s;
}
.ball-5,
.ball-12{
    animation-delay: .6s;
}
.ball-6,
.ball-13{
    animation-delay: .7s;
}
.ball-7,
.ball-14{
    animation-delay: .8s;
}
@keyframes move{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-40px);
        
    }  
}
@keyframes move-reverse{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(40px);
        
    }  
}